*{
    margin: 0px;
    scroll-behavior: smooth;
}
.container{
    position: fixed;
    overflow: auto;
    background-color: seashell;
    margin: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.row{
    background-color: rgb(243, 127, 18);
    color: rgb(65, 0, 0);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
.box{
    padding: 10px;
}
.row1{
    color: rgb(127, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
    align-items: center;
}
.row2{
    display: flex;
    background-color:rgb(0, 127, 115);
    color: seashell;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
}
.row3{
    display: flex;
    background-color:seashell;
    color:rgb(0, 127, 115);
    justify-content: space-around;
    padding: 10px;
    height: 50%;
    align-items: center;
}.row4{
    display: flex;
    background-color:seashell;
    color: rgb(0, 127, 115);
    justify-content: space-around;
    padding: 10px;
    height: 50%;
    align-items: first baseline;
}
.box1{
    padding: 40px;
    background-color: rgb(127, 0, 0);
    color: seashell;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-items: center;
    height: auto;
}
.row5{
    display: flex;
    background-color:rgb(0, 127, 115);
    color:seashell;
    justify-content: space-around;
    padding: 10px;
    height: 50%;
    align-items: center;
}.row6{
    display: flex;
    background-color:rgb(0, 127, 115);
    color: seashell;
    justify-content: space-around;
    padding: 10px;
    height: 50%;
    align-items: first baseline;
}
.box2{
    padding: 70px;
    background-color: seashell;
    color:rgb(0, 65, 61);
    margin: 20px;
    border-radius: 20px;
    justify-items: center;
    height: auto;
}
img{
    border-radius: 5px;
}
a:hover{
    display: inline;
    text-decoration: underline;
    font-size: large;
}
.image-container img {
    width: auto;
    height: 75px;
    border: 1px solid #ccc;
    transition: transform 0.3s;
    margin: 20px;
}
.usecase-grid{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}